<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bm">
    <insert id="signup" parameterType="memberDTO">
        insert into login_table(id, password, teamName, email)
        values(#{id},#{password},#{teamName},#{email})
    </insert>
    <insert id="addPlayer" parameterType="playerInfoDTO">
        insert into player_table(playerName, position, age, height, backNumber)
        values(#{playerName}, #{position}, #{age}, #{height}, #{backNumber})
    </insert>
</mapper>